DEBUG=False
SECRET_KEY=cambia-esta-clave-por-una-segura
ALLOWED_HOSTS=erp.tudominio.com,www.erp.tudominio.com
CSRF_TRUSTED_ORIGINS=https://erp.tudominio.com,https://www.erp.tudominio.com

DATABASE_URL=postgres://usuario:contrasena@localhost:5432/dvsolutions

TIME_ZONE=America/Tegucigalpa
LANGUAGE_CODE=en-us

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.tudominio.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_HOST_USER=notificaciones@tudominio.com
EMAIL_HOST_PASSWORD=contrasena-smtp-o-app-password
DEFAULT_FROM_EMAIL=notificaciones@tudominio.com

SECURE_SSL_REDIRECT=true
SESSION_COOKIE_SECURE=true
CSRF_COOKIE_SECURE=true
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=true
SECURE_HSTS_PRELOAD=false
