{% load static %}
<div class="brands">
    <div><img src="{% static 'core/img/clinical-group-logo.jpg' %}" alt=""><strong>Hospital MIA</strong><small>Vida en buenas manos</small></div>
    <div><img src="{% static 'core/img/clinical-group-logo.jpg' %}" alt=""><strong>Medical Spa</strong><small>Bienestar que transforma</small></div>
    <div><img src="{% static 'core/img/clinical-group-logo.jpg' %}" alt=""><strong>Luque Aesthetic</strong><small>Belleza con propósito</small></div>
    <div><img src="{% static 'core/img/clinical-group-logo.jpg' %}" alt=""><strong>Servicios Médicos</strong><small>Salud más cerca de ti</small></div>
</div>
